{% extends parent_template|default:"users/base.html" %}

{% load crispy_forms_tags %}

{% block title %}
	{{ block.super }} - login
{% endblock title %}

{% block content %}
	<h2>login</h2>
	{% if user.is_authenticated %}
		<p>You are already logged in</p>	
		{# <a href="{{ request.path }}">go back</a> #}
	{% else %}
	<div class="container">
		<form action="" method="post">
			{% csrf_token %}
			{{ form|crispy }}
			<p id="forgot-password"><a href="{% url 'users:password_reset' %}">Forgot password?</a></p>
			<input type="hidden" name="next" value="{{ next }}">	
			<button class="btn btn-primary" type="submit">Login</button>
		</form>	
	</div>
	
	{% endif %}
	{{ red }}
{% endblock content %}
