{% extends parent_template|default:"reminder/reminder_base.html" %}

{% block title %}
	{{ block.super }} - Reminders
{% endblock title %}

{% block content %}
	
	<div class="row">
		<div class="col-lg">
			
		</div>
		<div class="col-lg-10 bg-success">
			<h2 class="text-center"><a href="{% url 'reminder:create_reminder' %}">Create a Reminder</a></h2>

			<div class="container">

				<div class="messages">
				{% for message in messages %}
						<p>{{ message }}</p>	
				{% endfor %}

				</div>


				<div class="container-fluid">
					{% for reminder in reminders %}
						<div class="d-flex justify-content-between">	

							<div class="reminder-block d-inline-flex justify-content-start">
								<div class="p-2">
									{% if reminder.is_expired %}
										<i style="color:orange;" class="fas fa-envelope"></i>
										{% else %}
										<i style="color:green;" class="fas fa-envelope-open"></i>
									{% endif %}
								</div>

								<div class="p-2">
									<a href="{{ reminder.get_absolute_url }}">{{ reminder.title|title}}</a> 
								</div>

							</div>	

							<div class="reminder-block d-inline-flex justify-content-end">
								<div class="p-2">
									<a href="{{ reminder.get_update_url }}">
										<button class="btn btn-primary">
											Edit
										</button> 
									 </a> 
								</div>

								<div class="p-2">
									<a href="{{ reminder.get_delete_url }}"> 	
										<button class="btn btn-primary">
											Delete
										</button> 
									</a>
								</div>
							</div>
						</div>
						<div style="height:40px;" class="d-flex justify-content-center">
								<p class="p-2 ">
											Created:
											{{ reminder.created_on |date:'h:i a, jS b, Y'}}
								</p>
								<p class="p-2">|</p>
								<p class="p-2">
											Timed:   
											{{ reminder.timed_on |date:'h:i a, jS b, Y'}}
								</p>
						</div>
						<hr>
					{% endfor %}
				</div >		

			</div>

		</div>
		<div class="col-lg">
			<table class="table table-dark table-bordered ">
			<thead class="thead-dark">
				<tr>
					<th>
					Sort by	
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><a href="?sort_by=title">Title</a></td>
				</tr>
				<tr>
					<td><a href="?sort_by=created_on">Created on</a></td>
				</tr>
				<tr>
					<td><a href="?sort_by=timed_on">Timed on</a></td>
				</tr>
				<tr>
					<td><a href="?sort_by=recently-timed">Recently timed</a></td>
				</tr>
				<tr>
					<td><a href="?sort_by=recently-created">Recent created</a></td>
				</tr>
			</tbody>
			</tbody>
			</tbody>
		</table>
	</div>	
		</div>
		
{% endblock content %}