{% extends parent_template|default:"reminder/reminder_base.html" %}
{% block title %}
	{{ block.super }} - Delete Reminder
{% endblock title %}

{% block content %}
<div class="form-group">
	<p>Are you sure you want to delete {{ reminder.title }}?</p>
		<form action="" method="post">
			{% csrf_token %}
			<button class="btn btn-danger" name="to_delete" value="yes" type="submit">Yes</button>
			<button class="btn btn-secondary" name="to_delete" type="submit">No</button>
		</form>	
</div>

{% endblock content %}