{% extends parent_template|default:"reminder/reminder_base.html" %}

{% load crispy_forms_tags %}
{% block title %}
	{{ block.super }} - {{ reminder.title|title }}
{% endblock title %}

{% block content %}
	<h3><a href="{{ reminder.get_update_url }}">Edit Reminder</a></h3>
	<h3><a href="{{ reminder.get_delete_url }}">Delete Reminder</a></h3>
	<ul>
		<li>{{ reminder.title }}</li>
		<li>{{ reminder.text }}</li>
		<li>reminded {{ reminder.reminded_count }} time{{ reminder.reminded_count|pluralize }}</li>
	</ul>
{% endblock content %}